*{
    /*margin: 0;
    padding: 0;*/
    box-sizing: border-box;
    
}

.style{
    background-color: #F5F8FF;
    font-family: Arial, sans-serif;
}



.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
    
    
}

.logo-png{
    position: static;
    margin-left: 70px;
    
}

.nav-links{
    margin-left: 660px;
    margin-top: 17px;
}

.nav-links a{
    margin: 0 16px;
    text-decoration: none;
    font-size: 16px;
    
    

}
.nhome{
    color: #252432;
    font-weight: 700;

}
.shop-about{
    color: #8987A1;

}

.icon-cart{
    margin-right: 70px;
    margin-top: 17px;
}



  /* nav section done */


  

.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 90px 200px;
    
}

.banner-content{
    flex: 1;
    max-width: 50%;

}

.banner-title{
    font-family: 'Noto serif', serif;
    font-weight: 700;
    font-size: 48px;
    line-height: 1.2;
    margin-bottom: 20px;

}

.always{
    font-weight: 700;
    color: #000000;
}
.ff{
    font-weight: 700;
    color: #E95A08;
}

p{
    color: #00000080;
    
}



/* banner section done */



.plant-section{
    padding: 40px 20px;
}

.plant-section h2{
    font-size: 2em;
    font-family: 'Noto Serif', serif;
    font-weight: 700;
    text-align: center;
}
.our1{
    color: #E95A08;
}

.description{
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    margin-top: 18px;
}

.card-grid{
    display: grid;
    grid-template-columns: repeat(4 ,1fr);
    grid-auto-rows: auto;
    margin: 0 auto;
    justify-items: center;
    padding:  0 107px;
    width: 1140px;
    height: 484.94px;
    

}
.card{
    padding: 7px;
    border-radius: 8px;
    text-align: center;
    
    
}
.card img{
    width: 100%;

    object-fit: cover;
    margin: 30px 0px;
   
}

.card h3{
    margin: 0px 0 5px;
    font-weight: 500;
    text-align: center;
    
}
.price{
    color: #000;
    font-weight: 700;
    text-align: center;
  
}

.add-btn{
    background: #E95A08;
    color: #FFFFFF;
    border: none;
    width: 100%;
    margin-top: 15px;
    padding: 8px ;

    
}

/* plant section done */

body {
    font-family: Arial, sans-serif;
    margin: 0;
   
  }

  .section-container {
    display: flex;
    align-items: flex-start;
    padding: 20px;
    border-radius: 12px;
    max-width: 1000px;
    margin: 500px auto 0 300px;
  }

  .image-container {
    position: relative;
    flex: 1;
    max-width: 400px;
  }

  .main-image {
    width: 100%;
    
  }

  .badge {
    position: absolute;
    top: -70px;
    right: -60px;
    width: 170px;
    height: auto;
  }

  .content {
    flex: 1.5;
    padding-left: 30px;
  }

  .content h2 {
    font-family: 'Noto Serif', serif;
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
    padding-left: 8px ;

  }

  .content ul {
    list-style-type: disc;
    padding-left: 30px;
    color: #555;
  }

  .content ul li {
    margin-bottom: 15px;
    line-height: 1.1 ;
  }

  /*plant lover section done*/

@media (max-width: 768px) {
    .navbar {
      flex-direction: row;
      justify-content: space-between;
      padding: 15px 20px;
    }
  
    .logo-png{
        position: static;
        margin-left: 40px;
        
    }


    .nav-links {
      position: fixed;
      bottom: 20px;
      left: 50%;
      transform: translateX(-50%);
      flex-direction: column;
      background-color: #fff;
      padding: 15px 20px;
      border-radius: 10px;
      box-shadow: 0 4px 10px rgba(0,0,0,0.1);
      align-items: center;
      gap: 10px;
    }
  
    .nav-links a {
      font-size: 18px;
    }

    .banner{
        flex-direction: column;
        padding: 30px 20px;
        text-align: center;

    }

    .image-box{
        width: 100%;
        text-align: center;
        margin-bottom: 20px;
      }
      .image-box img {
        width: 100%;
        max-width: 350px;
        height: auto;
      }


    .banner-content{
        max-width: 100%;
        margin-top: 20px;
    }
    .banner-title{
        font-size: 26px;
        line-height: 1.4;
        margin-bottom: 15px;

    }
    
    p {
        font-size: 14.5px;
        line-height: 1.6;
        max-width: 95%;
        margin: 0 auto;
        color: #777;
      }
      .card-grid{
        grid-template-columns: repeat(2, 1fr);
        width: fit-content;
        margin: 0 auto;
      }
      .card h3 , .card p{
        text-align: center;
        margin:  5px 0;

      }

      .section-container {
        margin: 750px 15px 0 15px; 
        padding: 20px 15px;
        flex-direction: column;
      }
    
      .image-container {
        max-width: 100%;
      }
    
      .badge {
        display: none;
      }
    
      .content {
        padding-left: 0;
        padding-top: 20px;
        text-align: center;
      }
    
      .content h2 {
        font-size: 22px;
        margin-bottom: 15px;
      }  
    
      .content ul {
        padding-left: 20px;
        text-align: left;
        margin: 0 auto;
      }
    
      .content ul li {
        margin-bottom: 12px;
        line-height: 1.6;
      }
    

      
  }
